h1 {
	font-size: 40px;
	font-weight: 900;
	color: green;
	font-family: "BPG Classic Medium", sans-serif;
}

h2 {
	text-align: center;
    font-size: 106px;
    font-weight: 500;
    letter-spacing: -7px;
    font-family: "Mrs Saint Delafield", sans-serif;
}

h3 {
	font-size: 30px;
	font-family: "BPG Classic Medium", sans-serif;

}

p {
	font-size: 24px;
	font-weight: bold;
	text-decoration: green underline;
	letter-spacing: 5px;
	line-height: 35px;
}

span {
	font-size: 35px;
}

#normal {
	font-family: "Arial GEO", sans-serif;
}

#bold {
	font-family: "Arial GEO Bold", sans-serif;
}

